.body{
    background-image: url(backgrround.jpg);
    background-size: cover;
    width:100%;
    height: 480px;
    background-repeat: no-repeat;
    color: beige;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color:#1f242d;
    --secons-bg-color:#323946;
    --text-color:white;
    --main-color:#0ef;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

} 

 .navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: -3s;
    height: 30px;

} 

 .navbar a:hover,
.navbar a.active{
    color: var(--main-color);

}

.social_media a{
    display: inline-flex;
    justify-content:center ;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 5s ease;

}

.social_media a :hover{
    background: var(--main-color);
    color: var(--secons-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color:rgb(110, 110, 142);
    margin-top: -4%;
    color: white;
}